.plant {
    min-height: 22rem;
    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.like {
    position: absolute;
    top: 1rem;
    right: 1rem;
}